useDynLib(devout, .registration=TRUE)
export("rdevice")
export("rcallback")
export("ascii")
export("ascii_callback")
export("verbose_callback")
export("verbose")
export("get_default_device_description")
importFrom(Rcpp, evalCpp)
importFrom(utils,modifyList)
